<template>
  <div id="index">
    <section class="hero is-dark is-fullheight">
      <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="container">
            <div class="navbar-brand">
              <a :class="{ 'is-active': isNavActive }" 
                 class="navbar-burger" 
                 data-target="navbarMenuHero" 
                 role="button" 
                 aria-label="menu" 
                 aria-expanded="false" 
                 @click="isNavActive = !isNavActive">
                <span aria-hidden="true"/>
                <span aria-hidden="true"/>
                <span aria-hidden="true"/>
              </a>
            </div>
            <div id="navbarMenuHero" :class="{ 'is-active': isNavActive }" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active">
                  Home
                </a>
                <a class="navbar-item">
                  History
                </a>
                <a class="navbar-item">
                  Why Gopher
                </a>
                <a class="navbar-item">
                  Challenges
                </a>
                <a class="navbar-item">
                  Resources
                </a>
                <span class="navbar-item">
                  <a class="button is-inverted">
                    <span class="icon">
                      <font-awesome-icon icon="chevron-circle-right" />
                    </span>
                    <span>Get Connected</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">Gopher Zone</p>
          <p class="subtitle">We're back, baby!</p>
        </div>
      </div>

      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li>
                <a>Test</a>
              </li>
              <li>
                <a>Test</a>
              </li>
              <li>
                <a>Test</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    </section>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

export default {
  components: {
    FontAwesomeIcon,
  },
  data: function() {
    return {
      isNavActive: false,
    }
  },
}
</script>

<style>
</style>
